/*dark mode*/


.dark-mode {
    transition:  2s;
    background-color: #23272A;
    color: #99AAB5;
}
.dark-mode .rzm_main_menu {
    background-color: #bfbfbf;
    color: #23272A;
}

.dark-mode .rzm_footer {
    background-color: #bfbfbf;
    color: #23272A;
}
.dark-mode .rez_top_title h1{
    color: #ffffff;
    -webkit-text-stroke: #000 1px;
}
